*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;;
}

.navbar-container-dark{
    background-color: black;
    color: white;
    height: 5em;
    box-shadow: 2px 2px 10px black ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.navbar-container-light{
    background-color: white;
    color: black;
    height: 5em;
    box-shadow: 0px 1px 4px 0px #00000040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-title{
    color: #61DAFB;
}

.right{
    display: flex;
    align-items: center;
    gap: 1em;
}


.main-container-dark{
    height: 87vh;
    color: #ffffff;
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-image: url('./assets/react-bg.png');
    background-repeat: no-repeat;
    background-position: right center; 
    background-color: #232529;  
}

.main-container-light{
    height: 87vh;
    color: #232529;
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-image: url('./assets/react-bg.png');
    background-repeat: no-repeat;
    background-position: right center; 
    background-color: #ffffff4d;  
}

.list{
    padding-left: 3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.4em;
}

.list li::marker{
    color: #61DAFB;
    font-size: 1.5em;
}

.light-dark-mode{
    font-size: 1.2em;
    font-weight: 500;
    font-family: georgia;
}

.darkBtn, .lightBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}

.darkBtn > span, .lightBtn > span{
    font-size: 3em;
}

.darkBtn{
    background: black;
    color: white;
}

.lightBtn{
    background: white;
    color: black;
}
